.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-reproducer{
  height: 20vh;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  height: 10%;
  width: 80%;
  text-align: start;

}
fieldset{
  border: none;
}
.search-form{
  display: flex;
  justify-content: space-between;

}

.main-container{
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.song-list{
  width: 80%;
  height: 60%;
}

.songs-headers{
  display: grid;
  grid-template-columns: 10% 20% 20% 20% auto ;
  height: 20%;
  align-items: center;
  border-bottom: 1px solid black;
}

.songs-details{
  display: grid;
  grid-template-columns: 10% 20% 20% 20% auto ;
  height: 70%;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 0.7em;
}
.Song-cards-container{
  height: 100%;
  overflow: scroll;
}

.img-container{
  width: 50%;
  height: 50%;
}
img{
  width: 100%;
  height: 100%;
}
/*general css*/
.w-25{
  width: 25%;
}

.w-50{
  width: 50%;
}

.w-75{
  width: 75%;
}

.w-90{
  width: 100%;
}

.w-100{
  width: 100%;
}
.m-5{
  margin-right: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
